<div class="container w-1/2 border-2 border-sky-900 mx-auto mt-10 rounded-md p-5 bg-blue-50">
  <div class="w-full rounded-md mx-auto p-3 mb-5 bg-emerald-500">
    <h1 class="text-center text-3xl font-semibold text-white">CALCULADORA</h1>
  </div>
  <div class="m-2">
    <label class="mr-5 p-2 text-xl font-semibold" for="num1">Ingrese primer valor:</label>
    <input type="number" id="num1" class="w-1/2 border-2 border-sky-900 rounded-md p-2"
      [(ngModel)]="num1" #a>
  </div>
  <div class="m-2">
    <label for="num2" class="mr-1 p-2 text-xl font-semibold">Ingrese segundo valor:</label>
    <input type="number" id="num2" class="w-1/2 border-2 border-sky-900 rounded-md p-2"
      [(ngModel)]="num2" #b>
  </div>
  <div class="m-2 my-5 p-2">
    <select class="form-select border-2 border-sky-900 rounded-md p-2 px-5 text-xl" #op (click)="mostrar()">
      <option value="5" selected>Elija una opcion</option>
      <option value="1">Sumar</option>
      <option value="2">Restar</option>
      <option value="3">Multiplicar</option>
      <option value="4">Dividir</option>
      
      
    </select>
  </div>
  <div class="m-4">
    <p [ngSwitch]="op.value" class="text-xl font-semibold">Resultado:
      <span [ngStyle]="{'color':'red'}" *ngSwitchCase="5">No escogió una opcion</span>
      <span [ngStyle]="{'color':'green'}" *ngSwitchCase="1">{{num1+num2}}</span>
      <span [ngStyle]="{'color':'blue'}" *ngSwitchCase="2">{{num1-num2}}</span>
      <span [ngStyle]="{'color':'orange'}" *ngSwitchCase="3">{{num1*num2}}</span>
      <span [ngStyle]="{'color':'black'}" *ngSwitchCase="4">{{num1/num2}}</span>

    </p>
  </div>
</div>